body {
    padding-top: 50px;
}
.center {
    padding: 40px 15px;
    text-align: center;
}
table.placeShips {
    cursor: pointer;
}

button.list-group-item:focus{
  outline: none;
}


/* remainShips*/
.remainShips{
  margin-left: 15px;
}
.remainShips .remainShip{
  background-color: black;
  height: 20px;
  margin: 0.5px;
}

.remainShips .countShips{
  text-align: left;
}
